.sidebar__container {
  width: 30%;
  height: 100%;
  background-color: white ;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 60px;
  padding: 8px 15px 3px;
  position: relative;
}

.header__profile {
  align-items: flex-start;
  img {
    height: 30px;
  }
}

.header__logo {
  h1 {
    font-family: "DeutschGothic";
    font-size: 30px;
  }
}

.sidebar__body {
  padding: 15px;
  background-color: #F7F7F7;
  height: 100%;
  h1 {
    font-size: 25px;
    font-family: Roboto-Regular;
  }
}

.places__container {
  display: flex;
  flex-direction: column;
}

.place__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 20px;
  transition: .3s;
  background-color: #fff;
  //-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  //-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  //box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  &:hover {
    background-color: aqua;
  }
}



.place__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.place__img {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

.place__info h4,
.place__info p {
  font-size: 20px;
  font-family: Roboto-Thin;
}

.place__img img {
  height: 100%;
  width: 200px;
}