.sidebar__container {
  width: 30%;
  height: 100%;
  background-color: white ;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.header__profile img{
  height: 30px;
}

.header__logo {
  display: flex;
  justify-content: center;
  h1 {
    font-family: "DeutschGothic";
    font-size: 30px;
  }
}

.header__profile {
  display: flex;
  justify-content: flex-end;
}

.sidebar__body {
  padding: 20px;
  margin-top: 20px;
}

.sidebar__body h1 {
  font-size: 25px;
  font-family: Retro;
}

.places__container {
  display: flex;
  flex-direction: column;
}

.place__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 20px;
  transition: .3s;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.place__item:hover {
  background-color: aqua;
}

.place__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.place__img {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

.place__info h4,
.place__info p {
  font-size: 20px;
  font-family: Retro;
}

.place__img img {
  height: 100%;
  width: 200px;
}