@font-face {
  font-family: "Werset";
  src: url("../fonts/Werset.ttf");
}

@font-face {
  font-family: "Ginebra";
  src: url("../fonts/9655.ttf");
}

@font-face {
  font-family: "Handed";
  src: url("../fonts/14855.otf");
}

@font-face {
  font-family: "Retro";
  src: url("../fonts/16397.otf");
}

@font-face {
  font-family: "JaymontB";
  src: url("../fonts/JaymontB.ttf");
}

@font-face {
  font-family: "Bella Rose Plain";
  src: url("../fonts/BellaRosePlain.ttf");
}

@font-face {
  font-family: "DeutschGothic";
  src: url("../fonts/DeutschGothic.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
