@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './variables.scss';
@import './fonts.scss';

@import '../components/sidebar.scss';
@import '../components/map.scss';

.main__container {
  height: 100%;
  display: flex;
  flex-direction: row;
}
body {
  overflow: hidden;
}